<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Hurricanes | DisastersAI</title>
  <link rel="icon" href="./static/assets/img/disasterAI-icon.png" type="image/png">
  <link rel="apple-touch-icon" href="./static/assets/img/disasterAI-icon.png" type="image/png">
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="./static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="./static/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="./static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="./static/assets/vendor/line-awesome/css/line-awesome.min.css" rel="stylesheet">
  <link href="./static/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="./static/assets/css/style.css?v=7" rel="stylesheet">

  <!-- =======================================================
  * Template Name: SoftLand - v2.2.0
  * Template URL: https://bootstrapmade.com/softland-bootstrap-app-landing-page-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile Menu ======= -->
  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icofont-close js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>

  <!-- ======= Header ======= -->
 
  <!-- ======= Header ======= -->
  <header class="site-navbar js-sticky-header site-navbar-target" role="banner">

    <div class="container">
      <div class="row align-items-center">

        <div class="col-6 col-lg-2">
          <h1 class="mb-0 site-logo"><a href="/" class="mb-0">DisastersAI</a></h1>
        </div>

        <div class="col-12 col-md-10 d-none d-lg-block">
          <nav class="site-navigation position-relative text-right" role="navigation">

            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
              <li><a href="/" class="nav-link">Home</a></li>
              <li><a href="/fires" class="nav-link">Fires</a></li>
              <li class="active"><a href="/hurricanes" class="nav-link">Hurricanes</a></li>
              <li><a href="/earthquakes" class="nav-link">Earthquakes</a></li>
            </ul>
          </nav>
        </div>

        <div class="col-6 d-inline-block d-lg-none ml-md-0 py-3" style="position: relative; top: 3px;">

          <a href="#" class="burger site-menu-toggle js-menu-toggle" data-toggle="collapse" data-target="#main-navbar">
            <span></span>
          </a>
        </div>

      </div>
    </div>

  </header>
  <main id="main">

    <section class="hero-section inner-page">
      <div class="wave">

        <svg width="1920px" height="265px" viewBox="0 0 1920 265" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Apple-TV" transform="translate(0.000000, -402.000000)" fill="#FFFFFF">
              <path d="M0,439.134243 C175.04074,464.89273 327.944386,477.771974 458.710937,477.771974 C654.860765,477.771974 870.645295,442.632362 1205.9828,410.192501 C1429.54114,388.565926 1667.54687,411.092417 1920,477.771974 L1920,667 L1017.15166,667 L0,667 L0,439.134243 Z" id="Path"></path>
            </g>
          </g>
        </svg>

      </div>

      <div class="container">
        <div class="row align-items-center">
          <div class="col-12">
            <div class="row justify-content-center">
              <div class="col-md-7 text-center hero-text">
                <h1 data-aos="fade-up" data-aos-delay="">Hurricanes</h1>
                <p class="mb-5" data-aos="fade-up" data-aos-delay="100">
	                Using CNNs to predict hurricane damage
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

    <section class="section">
	  {% if output != "" %}
	    <center>
	      <h1 class="output">{{output}}</h1>
	    </center>
	  {% endif %}
      <div class="container">
		<div class="row">

          <div class="col-md-6 mb-5 mb-md-0 aos-init aos-animate" data-aos="fade-up" style="width: 250px;margin-left: calc(50% - 125px);">
	        <h2>Hurricane Damage</h2>
            <p class="mb-0">Using CNNs to predict hurricane damage</p><br>
            <form action="/hurricanes" method="post" role="form" class="php-email-form" enctype="multipart/form-data">

              <div class="row">
                <div class="col-md-6 form-group">
                  <label for="name">Image</label>
                  <input type="file" class="" name="image" onchange="loadFile(event)" accept="image/x-png,image/jpeg" required="">
                </div>
                <img id="output" style="width: calc(100% - 30px); height: auto; margin-left: 15px;"/>
                <input type="hidden" class="form-control" name="type" value="0" required="">

                <div class="col-md-12 mb-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message"></div>
                </div>

                <div class="col-md-6 form-group">
                  <input type="submit" class="btn btn-primary d-block w-100" value="Predict">
                </div>
              </div>

            </form>
          </div>
          
    	</div>
    </section>
    
    <script>
	    var loadFile = function(event) {
			var image = document.getElementById('output');
			image.src = URL.createObjectURL(event.target.files[0]);
		};
    </script>

  </main><!-- End #main -->

  <footer class="footer" role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-4 mb-md-0">
          <h3>DisastersAI</h3>
          <p>Revolutionizing Catastrophe Prediction with Machine Learning</p>
          <!-- <p class="social">
            <a href="#"><span class="icofont-twitter"></span></a>
            <a href="#"><span class="icofont-facebook"></span></a>
            <a href="#"><span class="icofont-dribbble"></span></a>
            <a href="#"><span class="icofont-behance"></span></a>
          </p> -->
        </div>
        <div class="col-md-7 ml-auto">
          <div class="row site-section pt-0">
            <div class="col-md-4 mb-4 mb-md-0">
            </div>
           	<div class="col-md-4 mb-4 mb-md-0">
            </div>
            <div class="col-md-4 mb-4 mb-md-0">
              <h3>Navigation</h3>
              <ul class="list-unstyled">
                <li><a href="/">Home</a></li>
                <li><a href="/fires">Fires</a></li>
                <li><a href="/hurricanes">Hurricanes</a></li>
                <li><a href="/earthquakes">Earthquakes</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center text-center">
        <div class="col-md-7">
          <p class="copyright">&copy; Copyright DisastersAI. All Rights Reserved</p>
        </div>
      </div>

    </div>
  </footer>

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="./static/assets/vendor/jquery/jquery.min.js"></script>
  <script src="./static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="./static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <!-- <script src="./static/assets/vendor/php-email-form/validate.js"></script> -->
  <script src="./static/assets/vendor/aos/aos.js"></script>
  <script src="./static/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="./static/assets/vendor/jquery-sticky/jquery.sticky.js"></script>

  <!-- Template Main JS File -->
  <script src="./static/assets/js/main.js?v=3"></script>

</body>

</html>
